numpy
pandas
seaborn
matplotlib
zscore
SimpleImputer
LabelEncoder
OneHotEncoder
DecisionTreeClassifier
GaussianNB
BaggingClassifier
StackingClassifier
LogisticRegression
SVC
KNeighborsClassifier
RandomForestClassifier 
GradientBoostingClassifier
GridSearchCV
RandomizedSearchCV
tensorflow 
Sequential
Dense
Dropout
EarlyStopping
ReduceLROnPlateau
ModelCheckpoint
Callback
roc_auc_score
accuracy_score
confusion_matrix
classification_report
train_test_split
